* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    background: rgb(154, 115, 172);
    display: flex;
    flex-direction: column;
}

.header__list {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

body {
    font-family: sans-serif;
}

.header__link {
    text-decoration: none;
    text-transform: capitalize;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
}

.header__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header__title {
    text-transform: uppercase;
    color: aquamarine;
    margin-bottom: 15px;
    font-size: 50px;
}

.subtitle {
    width: 450px;
    color: chartreuse;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.home__title {
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(231, 117, 9);
    position: relative;
    font-family: sans-serif;
}
.home__title::after{
    content: '';
    position: absolute;

}


.home__text {
    font-family: serif;
    text-align: justify;
    color:yellowgreen;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}


.home{
    padding: 25px;
    background: rgb(223, 125, 226);
}
.home__content{
    width: 400px;
    padding: 25px;
    background: gray;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.home__link{
    padding: 10px 7px;
    background: darkviolet;
    color: floralwhite;
    text-decoration: none;
    width: max-content;
    text-transform: uppercase;
    margin-top: 20px;
    transition: 0.3s;
}
.home__link:hover{
    transform: scale(1.2);

.footer{
    padding: 40px 0;
    background: black;
}
.footer__tittle{
font-weight: bold;
font-size: 50px;
line-height: 59px;
color: red;
}
.number{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: red;
    text-decoration: none;
}
.email{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: red;
    text-decoration: none;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}